
<div class="container-fluid">
        <div class="row a1004_bottomlink">
            <div class="col-md-6 a1004_link">
                <h3>相关链接</h3>
                <a href="#">中国电子信息行业联合会</a>
                <a href="#">国家认可委认可的第三方测试机构有效性查询</a>
                <a href="#">中软总公司计算机培训中心</a>
                <a href="#">中国电子学会</a>
                <a href="#">中国软件评测中心</a>
                <a href="#">质量管理体系证书有效性查询</a>

                <a href="#">赛宝认证中心</a>
                <a href="#">国家信息技术服务标准工作组（ITSS）</a>
                <a href="#">中国电子技术标准院认证中心</a>



                <h3>政府机构</h3>
                <a href="#">中华人民共和国工业和信息化部</a>
            </div>
            <div class="col-md-6 a1004_link2">
                <div>
                    <a href="#" class="a1004_lastright">公共留言</a>
                </div>
                <div>
                
                    <a href="#" class="a1004_lastright2">集成资质知道监管部门</a>
                </div>
                <p class="a1004_bottomp">京ICP备14042427号-2
                    <br />
                    联系方式：培训报名010-00000000,培训安排010-00000000,
                    <br />
                    综合管理：010-00000000,网站及系统热线：010-00000000。
                </p>
            </div>
        </div>
    </div>


</body>
</html>